html {
    background: #080A4B; 
    color: white; 
    text-align: center; 
}
/* Chrome, Safari */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    }
    ::-webkit-scrollbar-track-piece  {
    background-color: #080A4B;
    }
    ::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color:#D014BA;
    }

/*Navigation Bar*/
nav {
    display: flex;
    background: #080A4B;
	justify-content: space-around;
	align-items: center;
	min-height: 9vh;
}

.logo {
	color: white;
    padding-inline-start: 10px;
    border-style: solid; 
    border-color: #D014BA; 
}

.nav-links {
    display: flex;
	justify-content: space-around;
    width: 30%;
    list-style: none; 
}

nav li {
	list-style: none;
}

nav a {
	color: #D014BA;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	padding-inline-end: 20px;
}

nav a:hover {
    color: rgb(154, 154, 154);
    text-decoration: none; 
}

/*Sections*/
.cover-page {
    background: #080a4b; 
    height: 100vh; 
    padding-left: 16%; 
    padding-top: 13%; 
}

#intro { 
    color: white;
    font-size: 45px;  
}

#name {
    color: #D014BA; 
    font-size: 70px; 
}

#summary {
    color: #A5A2A4; 
    font-size: 20px; 
}

.examplediv {
    margin-left: 650px;
    margin-top: -750px; 
    width: 50px;
    height: 1400px;
    background-color: white;
    /* Rotate div */
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.exampletext {
    /* Rotate p back so that only div is rotated. */
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.examplediv1 {
    margin-left: 400px;
    margin-top: -850px; 
    width: 25px;
    height: 900px;
    background-color: #D014BA;
    /* Rotate div */
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.exampletext1 {
    /* Rotate p back so that only div is rotated. */
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    z-index: -800; 

}

.examplediv2 {
    margin-left: 440px;
    margin-top: -850px; 
    width: 15px;
    height: 500px;
    background-color: #A5A2A4;
    /* Rotate div */
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.exampletext2 {
    /* Rotate p back so that only div is rotated. */
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.about-me {
    background: #080A4B;
    height: 75vh; 
 
}

#abt-txt {
    color: #A5A2A4; 
    font-size: 70px;  
    margin-left: 900px; 
}

#square1 {
    width: 650px; 
    height: 450px; 
    background: #D014BA; 
    margin-left: 300px; 
    z-index: 1000000; 
}

#square2 {
    width: 650px; 
    height: 450px; 
    background: #A5A2A4; 
    margin-left: 350px; 
    margin-top: -400px; 
    color: white; 
    position: relative; 
    z-index: 1000000; 
}

#abt-summary {
    padding-left: 35px; 
    padding-right: 35px; 
    padding-top: 50px; 
    font-size: 30px; 
    text-align: center; 
}

.headshot {
    margin-top: -300px; 
    margin-left: 620px; 
}

.exp {
    background: #080A4B; 
    height: 85vh; 
}

#exp-txt {
    color: #A5A2A4; 
    font-size: 70px;  
    margin-left: 100px; 
}